@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}


@layer components {

  .iphone-cta{
    @apply absolute top-[-100px] w-[350px] right-[20%] max-xlg:right-[10%] max-xlg:w-[200px] max-xlg:top-[70px]  max-slg:w-[150px] max-slg:top-[170px] max-md:right-[9%]  max-md:top-[140px] max-xmd:hidden
  }
}

/*CTA ANIMATIONS*/
@keyframes loadingStroke-1 {
  0%, 100% {
    opacity: 0;
  }
  25%, 50% {
    opacity: 1;
  }
}

@keyframes loadingStroke-2 {
  0%,25%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.ellipsis {
  animation: loadingStroke-1 2s linear infinite;
}

.ellipsis2 {
  animation: loadingStroke-2 2s linear infinite;
}

/* CTA ANIMATIONS*/

:root {
/* overflow-x: hidden; */
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

}
