@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}




@layer components {


  .bg-gradient{
    @apply bg-gradient-to-r from-[#CDE6F3] via-[#F8F8F9] to-[#F8F8F9]
  }
  

  .iphone-cta{
    @apply absolute top-[-100px] w-[350px] right-[20%] max-xlg:right-[10%] max-xlg:w-[200px] max-xlg:top-[70px]  max-slg:w-[150px] max-slg:top-[170px] max-md:right-[9%]  max-md:top-[140px] max-xmd:hidden
  }

  .nav-links{
    @apply relative text-xl w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-[#0045A5] after:w-[24px] after:rounded-[20px] after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center after:left-[35%]
  }

  .nav-active{
    @apply relative text-xl w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-[#0045A5] after:w-[24px] after:rounded-[20px] after:scale-x-100 after:left-[35%]
  }
}



/*CTA ANIMATIONS*/
@keyframes loadingStroke-1 {
  0%, 100% {
    opacity: 0;
  }
  25%, 50% {
    opacity: 1;
  }
}

@keyframes loadingStroke-2 {
  0%,25%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.ellipsis {
  animation: loadingStroke-1 2s linear infinite;
}

.ellipsis2 {
  animation: loadingStroke-2 2s linear infinite;
}

/* CTA ANIMATIONS*/

:root {
/* overflow-x: hidden; */
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

}
